.body {
  font-size: 18px;
  margin: 0%;
}

.header {
  background: url(images/bg-hero-desktop.svg) no-repeat center fixed;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  background-color: #edfbfe;
}

.logo_div {
  height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
}

.top-logo {
  height: 30px;
  width: 15%;
}

.try-button {
  height: 2.5em;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  color: hsl(192, 100%, 9%);
  border-radius: 50vh;
  border: none;
  cursor: pointer;
  box-shadow: 4px unset black;
  font-weight: 700;
  font-size: 18px;
  box-shadow: 0 0 5px #777777;
}

.header-main {
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.get-started {
  width: 42.5%;
  box-sizing: border-box;
  padding-right: 10%;
}

.get-started-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 34px;
  color: hsl(192, 100%, 9%);
  line-height: 38px;
  margin-bottom: 10px;
}

.get-started-summary {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: hsl(208, 11%, 55%);
  line-height: 22px;
  margin-bottom: 10px;
}

.get-started-button {
  height: 3em;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(322, 100%, 66%);
  color: white;
  border-radius: 50vh;
  border: none;
  cursor: pointer;
}

.header-image {
  width: 42.5%;
  height: 90%;
}

.section {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 120px 0px 300px 0px;
}

.illustration {
  height: 300px;
  width: 80%;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 20px;
  box-shadow: 0 0 5px #777777;
  padding: 0% 2% 0% 5%;
}

#middle-illustration {
  flex-direction: column`;
}

.illustration-text {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

#middle-text {
  box-sizing: border-box;
  margin-left: 20%;
}

#middle-title {
  align-self: flex-start;
}

.illustration-text-title {
  font-size: 28px;
  font-family: "Poppins", sans-serif;
  color: hsl(192, 100%, 9%);
  font-weight: 600;
  margin: 0%;
  margin-bottom: 10px;
}

.illustration-text-body {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: hsl(208, 11%, 55%);
  margin: 0%;
  width: 80%;
}

.illustration-image {
  width: 40%;
  height: 80%;
}

.footer {
  width: 100%;
  height: 80vh;
  background-color: hsl(192, 100%, 9%);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.footer-modal {
  width: 50%;
  height: 34%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  position: absolute;
  top: -20%;
  left: 25%;
  border-radius: 10px;
  box-shadow: 0 0 5px #777777;
}

.footer-modal-label {
  font-size: 24px;
  color: hsl(192, 100%, 9%);
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}

.footer-modal-button {
  width: 50%;
  height: 3em;
  font-size: 18px;
  font-weight: 700;
  color: white;
  background-color: hsl(322, 100%, 66%);
  border-radius: 50vh;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-main {
  width: 80%;
  margin-top: 10%;
}

.bottom-logo {
  height: 30px;
  width: 20%;
  margin-bottom: 15px;
}

.footer-main-body {
  display: flex;
  justify-content: space-between;
  font-family: "Open Sans", sans-serif;
}

.footer-main-body-column {
  max-width: 30%;
}

.column-item {
  font-size: 18px;
  margin-bottom: 20px;
}

.column-item-box {
  display: flex;
  font-size: 16px;
  margin-bottom: 20px;
}

.column-item-image {
  width: 1em;
  height: 1em;
  margin-right: 10px;
}

.copyright {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
}

@media screen and (max-width: 375px) {
  .body {
    font-size: 18px;
    margin: 0%;
  }

  .header {
    background: url(images/bg-hero-desktop.svg) no-repeat center fixed;
    background-size: cover;
    min-height: 100vh;
    width: 100vw;
    background-color: #edfbfe;
  }

  .logo_div {
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .top-logo {
    height: 25px;
    width: 25%;
  }

  .try-button {
    height: 2.5em;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    color: hsl(192, 100%, 9%);
    border-radius: 50vh;
    border: none;
    cursor: pointer;
    box-shadow: 4px unset black;
    font-weight: 600;
    font-size: 16px;
    box-shadow: 0 0 5px #777777;
  }

  .header-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .get-started {
    width: 90%;
    box-sizing: border-box;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .get-started-title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: hsl(192, 100%, 9%);
    line-height: 38px;
    margin-bottom: 10px;
    text-align: center;
  }

  .get-started-summary {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: hsl(208, 11%, 55%);
    line-height: 22px;
    margin-bottom: 10px;
    text-align: center;
  }

  .get-started-button {
    height: 3em;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(322, 100%, 66%);
    color: white;
    border-radius: 50vh;
    border: none;
    cursor: pointer;
  }

  .header-image {
    width: 80%;
    height: 40vh;
  }

  .section {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 80px 0px 150px 0px;
  }

  .illustration {
    min-height: 300px;
    height: fit-content;
    flex-direction: column-reverse;
    justify-content: space-between;
    margin-bottom: 40px;
    box-shadow: 0 0 5px #a2a2a2;
  }

  #middle-illustration {
    flex-direction: column !important;
  }

  .illustration-text {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  #middle-text {
    box-sizing: border-box;
    margin-left: 0%;
  }

  #middle-title {
    align-self: center;
  }

  .illustration-text-title {
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    color: hsl(192, 100%, 9%);
    font-weight: 600;
    margin: 0%;
    margin-bottom: 20px;
    text-align: center;
  }

  .illustration-text-body {
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: hsl(208, 11%, 55%);
    margin: 0%;
    width: 80%;
    text-align: center;
    margin-bottom: 30px;
  }

  .illustration-image {
    width: 80%;
    height: 200px;
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .footer {
    width: 100%;
    height: fit-content;
    background-color: hsl(192, 100%, 9%);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .footer-modal {
    width: 90%;
    height: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    position: absolute;
    top: -14%;
    left: 5%;
    border-radius: 10px;
    box-shadow: 0 0 5px #777777;
  }

  .footer-modal-label {
    font-size: 18px;
    color: hsl(192, 100%, 9%);
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
  }

  .footer-modal-button {
    width: 50%;
    height: 3em;
    font-size: 14px;
    font-weight: 700;
    color: white;
    background-color: hsl(322, 100%, 66%);
    border-radius: 50vh;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer-main {
    width: 90%;
    margin-top: 30%;
  }

  .bottom-logo {
    height: 40px;
    width: 50%;
    margin-bottom: 15px;
  }

  .footer-main-body {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    font-family: "Open Sans", sans-serif;
  }

  .footer-main-body-column {
    width: 100%;
    max-width: 100%;
  }

  .column-item {
    font-size: 18px;
    margin-bottom: 20px;
    width: 100%;
  }

  .column-item-box {
    display: flex;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
    width: 100%;
  }

  .column-item-image {
    width: 1em;
    height: 1em;
    margin-right: 10px;
  }

  #social-icons-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .copyright {
    width: 80%;
    display: flex;
    justify-content: center;
    font-size: 14px;
    margin-bottom: 30px;
  }
}
